@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; этот параметр по умолчанию не применяем*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1138px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 359px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
}

.header__controls {
  display: flex;
  align-items: center;
}

.header_theme_dark_blue {
  background-color: #222222;
  position: relative;
}

.header__logo_theme {
  margin: 0 41px 0 0;
}

.header__search-input {
  background: none;
  border: none;
  margin: 0 0 0 28px;
  min-height: 27px;
  outline: none;
  color: #E8E8E8;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 375px) {
  .header__search-input {
    width: 130px;
  }
}

.header__search-input:focus {
  border-bottom: 2px solid #F16D7F;
}

.header :focus::-webkit-input-placeholder {
  color: transparent;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header__button {
    margin: 0;
  }
}

.header__profile {
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header__profile {
    display: none;
  }
}

.header__icon_fill_color {
  fill: #E8E8E8;
}

.header__cart-link {
  position: relative;
}

@media (max-width: 375px) {
  .header__cart-link {
    display: none;
  }
}

.header__cart-link::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  right: -8px;
  top: -7px;
  background-color: #F16D7F;
  border-radius: 50%;
}

.header__cart-link::after {
  content: "5";
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  right: -2px;
  top: -5px;
  color: #FFFFFF;
  text-align: center;
}

.header__menu:hover, .header__search:hover, .header__profile:hover, .header__cart:hover {
  fill: #F16D7F;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__navigation {
  position: absolute;
  min-height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  display: none;
  z-index: 1;
}

@media (max-width: 1600px) {
  .header__navigation {
    left: 1368px;
  }
}

@media (max-width: 768px) {
  .header__navigation {
    left: 536px;
  }
}

@media (max-width: 375px) {
  .header__navigation {
    left: 143px;
  }
}

.header__navigation_display_block {
  display: block;
}

.header__navigation_button {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  margin: 16px 16px 9px 204px;
}

.header__nav_title {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 24px 34px;
}

.header__nav_subtitle_pink {
  color: #F16D7F;
  margin: 20px 0 12px 34px;
}

.header__nav_link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.header__nav_list {
  margin: 12px 0 12px 54.5px;
}

.header__nav-overlay {
  content: "";
  width: 1368px;
  min-height: 765px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
  z-index: 1;
}

.header__nav-overlay_block {
  display: block;
}

@media (max-width: 768px) {
  .header__nav-overlay_block {
    display: none;
  }
}

@media (max-width: 375px) {
  .header__nav-overlay_block {
    display: none;
  }
}

.brand {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .brand {
    margin: 0 0 64px 0;
  }
}

@media (max-width: 768px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 375px) {
  .brand {
    justify-content: center;
    min-height: 363px;
    margin: 0 0 64px 0;
  }
}

.brand__image {
  width: 50%;
  height: auto;
  display: block;
}

@media (max-width: 375px) {
  .brand__image {
    display: none;
  }
}

.brand__slogan-wrapper {
  height: 92px;
  align-items: center;
  display: flex;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

@media (max-width: 768px) {
  .brand__slogan-wrapper {
    margin: 0 0 0 39px;
  }
}

@media (max-width: 375px) {
  .brand__slogan-wrapper {
    margin: 0;
  }
}

.brand__slogan-title {
  color: #222222;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .brand__slogan-title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .brand__slogan-title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 800;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__slogan-title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 800;
    font-style: normal;
  }
}

.brand__slogan-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 768px) {
  .brand__slogan-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__slogan-subtitle_pink {
  color: #F16D7F;
}

@media (max-width: 1600px) {
  .offers {
    margin-bottom: 97px;
  }
}

@media (max-width: 768px) {
  .offers {
    margin-bottom: 155px;
  }
}

@media (max-width: 375px) {
  .offers {
    margin-bottom: 64px;
  }
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.offers__item {
  background-color: #9c7653;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .offers__item {
    margin: 0 0 30px;
    width: 32%;
    min-height: 260px;
  }
}

@media (max-width: 768px) {
  .offers__item {
    margin: 0 0 16px;
    width: 32%;
    min-height: 167px;
  }
}

@media (max-width: 375px) {
  .offers__item {
    width: 100%;
    margin: 0 0 32px;
    min-height: 247px;
  }
}

.offers__item_women {
  background-image: url(../img/women_item.jpg);
}

.offers__item_men {
  background-image: url(../img/men_item.jpg);
}

.offers__item_kids {
  background-image: url(../img/kids_item.jpg);
}

.offers__item_accessories {
  background-image: url(../img/accessories_item.jpg);
  width: 100%;
  min-height: 180px;
  margin: 0;
}

.offers__title {
  text-transform: uppercase;
}

.offers__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.products__header_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 1600px) {
  .products__header_wrapper {
    margin: 0 0 41px;
  }
}

@media (max-width: 768px) {
  .products__header_wrapper {
    margin: 0 0 74px;
  }
}

@media (max-width: 375px) {
  .products__header_wrapper {
    margin: 0 0 64px;
  }
}

.products__header_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.products__header_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1600px) {
  .products__list {
    margin: 0 0 48.5px 0;
  }
}

@media (max-width: 768px) {
  .products__list {
    margin: 0 0 32px 0;
  }
}

@media (max-width: 375px) {
  .products__list {
    margin: 0 0 41px 0;
  }
}

.products__card_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1600px) {
  .products__card_wrapper {
    width: 360px;
    min-height: 581px;
    margin: 0 0 30px;
  }
}

@media (max-width: 768px) {
  .products__card_wrapper {
    margin: 0 0 15px;
  }
}

@media (max-width: 375px) {
  .products__card_wrapper {
    margin: 0 0 15px;
  }
}

.products__card_wrapper:hover .products_card_overlay::before {
  display: block;
}

.products__card_wrapper:hover .products__card_button {
  display: block;
}

.products_card_overlay::before {
  content: "";
  width: 360px;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
}

.products__image {
  display: block;
}

@media (max-width: 1600px) {
  .products__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .products__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 375px) {
  .products__image {
    width: 100%;
    height: auto;
  }
}

.products__card_button {
  background-image: url(../img/product_to-cart.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  height: 42px;
  content: "";
  width: 138px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  padding-left: 40px;
  outline: none;
}

.products__card_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background-color: #F8F8F8;
  padding: 20px 28px 16px;
}

.products__card_title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.products__card_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.products__card_price {
  color: #F16D7F;
}

.products__button_flex {
  display: flex;
  justify-content: center;
}

.products__button_theme {
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  font-style: normal;
  width: 211px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-transform: capitalize;
  font-family: Lato;
  margin: 0 0 95.5px 0;
  padding: 0;
  outline: 0;
}

@media (max-width: 375px) {
  .products__button_theme {
    margin: 0 0 110px 0;
  }
}

.products__button_theme:active {
  transform: scale(0.9);
}

.products__button_theme:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.benefits_background_theme {
  background-color: #222222;
  min-height: 341px;
}

.benefits__list {
  display: flex;
}

@media (max-width: 1600px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 235px;
  }
}

@media (max-width: 768px) {
  .benefits__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .benefits__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .benefits__item_wrapper {
    width: 360px;
    min-height: 134px;
    margin: 103px 0 0 0;
  }
}

@media (max-width: 768px) {
  .benefits__item_wrapper {
    margin: 0;
    padding: 48px 0 48px;
  }
}

@media (max-width: 375px) {
  .benefits__item_wrapper {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .benefits__item_wrapper-margin-bottom {
    padding-bottom: 64px;
  }
}

@media (max-width: 375px) {
  .benefits__item_wrapper-margin-bottom {
    padding-bottom: 81px;
  }
}

.benefits__item_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  text-transform: capitalize;
}

.benefits__item_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
  padding: 0 25px;
  text-align: center;
}

.footer__subscribe-theme {
  background-image: url(../img/back_subscribe.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 1600px) {
  .footer__subscribe-theme {
    min-height: 448px;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .footer__subscribe-theme {
    background-size: 350%;
    background-position: -450px;
  }
}

@media (max-width: 375px) {
  .footer__subscribe-theme {
    background-size: cover;
  }
}

.footer__subscribe-wrapper {
  display: flex;
}

@media (max-width: 1600px) {
  .footer__subscribe-wrapper {
    align-items: center;
    justify-content: flex-start;
    min-height: 448px;
  }
}

@media (max-width: 768px) {
  .footer__subscribe-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .footer__subscribe-wrapper {
    flex-direction: column;
  }
}

.footer__subscribe-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1600px) {
  .footer__subscribe-testimonial {
    width: 360px;
    margin: 0 223px 0 0;
  }
}

@media (max-width: 768px) {
  .footer__subscribe-testimonial {
    width: 360px;
    margin: 0;
    padding: 54px 0 0 0;
    margin: 0 0 48px 0;
  }
}

@media (max-width: 375px) {
  .footer__subscribe-testimonial {
    flex-direction: column;
    width: 100%;
  }
}

.footer__subscribe-image {
  margin: 0 0 40px 0;
}

.footer__subscribe-text {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 375px) {
  .footer__subscribe-text {
    margin: 0 0 60px 0;
  }
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1600px) {
  .footer__subscribe-form {
    width: 100%;
    width: 557px;
  }
}

@media (max-width: 375px) {
  .footer__subscribe-form {
    width: 100%;
  }
}

.footer__subscribe-form-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 375px) {
  .footer__subscribe-form-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
}

.footer__subscribe-form-subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 32px 0;
}

@media (max-width: 375px) {
  .footer__subscribe-form-subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer__subscribe-email-flex {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__subscribe-email-flex {
    padding: 0 0 140px 0;
  }
}

@media (max-width: 375px) {
  .footer__subscribe-email-flex {
    padding: 0 0 110px 0;
  }
}

.footer__subscribe-input-theme {
  height: 50px;
  width: 256px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  background-color: #E1E1E1;
  padding: 0 0 0 20px;
  outline: none;
}

@media (max-width: 375px) {
  .footer__subscribe-input-theme {
    width: 220px;
  }
}

.footer__subscribe-input-theme:hover {
  background-color: #FFFFFF;
}

.footer :focus::-webkit-input-placeholder {
  color: transparent;
}

.footer__subscribe-button-theme {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Lato;
  outline: none;
}

.footer__subscribe_button-theme:active {
  transform: scale(0.9);
}

.footer__subscribe_button-theme:hover {
  opacity: 0.5;
}

.footer__bottom_background_theme {
  min-height: 80px;
  background-color: #222222;
  color: #FBFBFB;
}

.footer__bottom_flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .footer__bottom_flex {
    flex-direction: column-reverse;
    align-items: center;
    padding: 52px 0 0 0;
  }
}

.footer__copy {
  display: flex;
  align-items: center;
  min-height: 80px;
  text-transform: capitalize;
}

@media (max-width: 375px) {
  .footer__copy {
    min-height: 0;
    margin: 40px 0 24px 0;
  }
}

.footer__iconset {
  display: flex;
  align-items: center;
}

.footer__icon_container {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin: 0 8px 0 0;
  color: #000000;
}

.footer__icon_container:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.footer_icon_container_pinterest {
  margin: 0;
}

.registration-banner {
  background-color: #F8F3F4;
}

.registration-banner-theme {
  min-height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration-main {
  display: flex;
}

@media (max-width: 375px) {
  .registration-main {
    flex-direction: column;
  }
}

.registration__form {
  width: 360px;
  margin: 64px 129px 96px 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .registration__form {
    margin: 40px 22px 96px 0;
  }
}

@media (max-width: 375px) {
  .registration__form {
    margin: 40px 22px 96px 0;
  }
}

.registration_fieldset {
  border: none;
}

.registration_legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}

.registration__input_field {
  width: 360px;
  min-height: 44px;
  margin: 0 0 20px 0;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .registration__input_field {
    box-sizing: border-box;
  }
}

.registration :focus::-webkit-input-placeholder {
  color: transparent;
}

.registration_gender_select {
  margin: 13px 0 30px 0;
  display: flex;
  align-items: center;
}

.registration_radio {
  display: none;
}

.registration_radio_label {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  position: relative;
  margin: 0 0 0 20px;
  text-transform: capitalize;
  padding: 0 20px 0 10px;
}

.registration_radio_label::before {
  width: 17px;
  height: 17px;
  position: absolute;
  content: '';
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -20px;
}

.registration_radio:checked + .registration_radio_label::before {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.registration__input_field_last {
  margin-bottom: 15px;
}

.registration_text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #A4A4A4;
  margin: 0 0 39px 0;
}

.registration_button_theme {
  background-image: url(..//img/arrow_reg_button.svg);
  background-repeat: no-repeat;
  background-position: 121px;
  height: 50px;
  width: 167px;
  border-radius: 0px;
  background-color: transparent;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 40px 0 0;
  outline: none;
}

.registration_button_theme:active {
  transform: scale(0.9);
}

.registration__benefits {
  margin: 40px 0 0 0;
}

@media (max-width: 375px) {
  .registration__benefits {
    margin: 40px 0 96px 0;
  }
}

.registration__benefits_heading, .registration_benefits_text, .registration_list_point {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 768px) {
  .registration__benefits_heading, .registration_benefits_text, .registration_list_point {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration__benefits_heading {
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.registration_benefits_text {
  margin: 0 0 21px 0;
}

.registration_list_point {
  margin: 0 0 16px 40px;
  position: relative;
}

.registration_list_point::before {
  position: absolute;
  content: "";
  background-image: url(../img/checked.svg);
  width: 20px;
  height: 16px;
  left: -42px;
  top: 7px;
}

.cart__banner {
  background-color: #F8F3F4;
}

.cart-banner-theme {
  min-height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 375px) {
  .cart-banner-theme {
    align-items: center;
  }
}

.cart-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart-theme {
  display: flex;
  margin: 96px auto 129px auto;
}

@media (max-width: 768px) {
  .cart-theme {
    flex-direction: column;
    align-items: center;
    margin: 59px auto 0 auto;
    justify-content: end;
  }
}

.cart__left_column {
  width: 652px;
  margin: 0 128px 0 0;
}

@media (max-width: 768px) {
  .cart__left_column {
    margin: 0;
    width: 100%;
  }
}

.cart__product {
  display: flex;
  min-height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  .cart__product {
    min-height: 188px;
  }
}

.cart__product_margin-bottom {
  margin-bottom: 73px;
}

@media (max-width: 768px) {
  .cart__product_margin-bottom {
    margin-bottom: 62px;
  }
}

@media (max-width: 375px) {
  .cart__product_margin-bottom {
    margin-bottom: 30px;
  }
}

.cart__product-img {
  margin: 0 30px 0 0;
}

@media (max-width: 375px) {
  .cart__product-img {
    width: 38%;
    height: auto;
    margin: 0 15px 0 0;
  }
}

.cart__product-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 22px 30% 42px 0;
  color: #222222;
}

@media (max-width: 375px) {
  .cart__product-heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding: 13px 73px 26px 0;
  }
}

.cart__product-img-close {
  position: absolute;
  right: 22px;
  top: 28px;
}

@media (max-width: 375px) {
  .cart__product-img-close {
    width: 10px;
    height: auto;
    right: 15px;
    top: 18px;
  }
}

.cart__product-price, .cart__product-color, .cart__product-size, .cart__product-quantity {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 6px 0;
  color: #575757;
  text-transform: capitalize;
}

@media (max-width: 375px) {
  .cart__product-price, .cart__product-color, .cart__product-size, .cart__product-quantity {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 4px 0;
  }
}

.cart__product-price_pink {
  color: #F16D7F;
}

.cart__product-quantity-input {
  width: 43px;
  text-align: center;
  margin: 0 0 0 24px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  border: 1px solid #A4A4A4;
}

@media (max-width: 375px) {
  .cart__product-quantity-input {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    width: 23px;
  }
}

.cart__product-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart__product-buttons-wrapper {
    justify-content: center;
    margin: 0 0 65px 0;
  }
}

@media (max-width: 375px) {
  .cart__product-buttons-wrapper {
    justify-content: space-between;
    margin: 0 0 65px 0;
  }
}

.cart__product-button-clear, .cart__product-button-continue {
  width: 235px;
  min-height: 50px;
  text-transform: uppercase;
  background: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
}

@media (max-width: 375px) {
  .cart__product-button-clear, .cart__product-button-continue {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    min-height: 33px;
    width: 175px;
  }
}

.cart__product-button-clear:active, .cart__product-button-continue:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .cart__product-button-clear {
    margin: 0 25px 0 0;
  }
}

@media (max-width: 375px) {
  .cart__product-button-clear {
    margin: 0 0 0 0;
  }
}

@media (max-width: 768px) {
  .cart__product-button-continue {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 375px) {
  .cart__product-button-continue {
    margin: 0 0 0 0;
  }
}

.cart__form {
  width: 360px;
}

@media (max-width: 768px) {
  .cart__form {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .cart__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.cart__form-fieldset {
  border: none;
}

.cart__form-legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
}

.cart__form-city, .cart__form-state, .cart__form-zip {
  width: 360px;
  height: 45px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  border: 1px solid #6F6E6E;
  box-sizing: border-box;
}

.cart :focus::-webkit-input-placeholder {
  color: transparent;
}

.cart__form-button-quote {
  width: 100px;
  min-height: 34px;
  text-transform: uppercase;
  background: none;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
  margin: 24px 0 58px 0;
}

@media (max-width: 375px) {
  .cart__form-button-quote {
    margin: 24px 0 48px 0;
  }
}

.cart__form-button-quote:active {
  transform: scale(0.9);
}

.cart__form-checkout-box {
  width: 100%;
  min-height: 214px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .cart__form-checkout-box {
    margin: 38px 0 147px 0;
    min-width: 360px;
  }
}

@media (max-width: 375px) {
  .cart__form-checkout-box {
    margin: 0 0 96px 0;
  }
}

.cart__form-subtotal-heading, .cart__form-subtotal-price {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form-subtotal-heading {
  padding: 39px 34px 12px 0;
}

.cart__form-grandtotal-heading, .cart__form-grandtotal-price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form-subtotal-price, .cart__form-grandtotal-price {
  padding: 0 0 0 20px;
}

.cart__form-grandtotal-price_pink {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
}

.cart__form-checkout-button {
  height: 50px;
  width: 273px;
  border-radius: 0px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  outline: none;
  margin: 39px auto 0;
}

.cart__form-checkout-button:active {
  transform: scale(0.9);
}
/*# sourceMappingURL=style.css.map */