@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; этот параметр по умолчанию не применяем*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light.woff2") format("woff2"), url("../fonts/lato-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Lato", "Arial", "sans-serif";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .container {
    max-width: 71%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.bg-dark {
  background-color: #222222 !important;
}

.btn-outline-success {
  color: #F16D7F;
  border-color: #F16D7F;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #F16D7F;
  border-color: #F16D7F;
}

.dropdown {
  display: inline;
}

.dropdown-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  text-transform: uppercase;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  background: none;
  color: #575757;
  border-radius: 0.2rem;
  border: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .btn-sm, .btn-group-sm > .btn {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.page-link {
  position: relative;
  display: block;
  color: #6F6E6E;
  text-decoration: none;
  background-color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*!
* chiefSlider
*   site: https://itchief.ru/javascript/slider
*   github: https://github.com/itchief/how-to
*
* Copyright 2018-2021 Alexander Maltsev
* Licensed under MIT (https://github.com/itchief/chiefSlider/blob/main/LICENSE)
*/
.slider {
  position: relative;
  /* кнопки влево и вправо */
  /* индикаторы */
}

.slider__image {
  height: auto;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .slider__image {
    width: 52%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider__image {
    width: 52%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .slider__image {
    width: 100%;
  }
}

.slider__item-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .slider__item-content {
    min-height: 777px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider__item-content {
    min-height: 624px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .slider__item-content {
    min-height: 624px;
  }
}

.slider__container {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.slider__wrapper {
  overflow: hidden;
  background-color: #F8F8F8;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
}

.slider__control_hide {
  display: none;
}

.slider__control[data-slide='prev'] {
  left: 0;
}

.slider__control[data-slide='next'] {
  right: 0;
}

.slider__control:hover, .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control[data-slide='prev']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide='next']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.header__controls {
  display: flex;
  align-items: center;
}

.header_theme {
  background-color: #222222;
  position: relative;
}

.header__logo-img {
  margin: 0 41px 0 0;
}

.header__search-input {
  background: none;
  border: none;
  margin: 0 0 0 28px;
  min-height: 27px;
  outline: none;
  color: #E8E8E8;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__search-input {
    width: 130px;
  }
}

.header__search-input:focus {
  border-bottom: 2px solid #F16D7F;
}

.header__search-input:hover {
  border-bottom: 2px solid #F16D7F;
}

.header :focus::-webkit-input-placeholder {
  color: transparent;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__button {
    margin: 0;
  }
}

.header__profile {
  margin: 0 34px 0 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__profile {
    display: none;
  }
}

.header__menu_fill-color, .header__search_fill-color, .header__profile_fill-color, .header__cart_fill-color {
  fill: #E8E8E8;
}

.header__cart-link {
  position: relative;
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__cart-link {
    display: none;
  }
}

.header__cart-link::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  right: -8px;
  top: -7px;
  background-color: #F16D7F;
  border-radius: 50%;
}

.header__cart-link::after {
  content: "5";
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  right: -2px;
  top: -5px;
  color: #FFFFFF;
  text-align: center;
}

.header__menu:hover, .header__search:hover, .header__profile:hover, .header__cart:hover {
  fill: #F16D7F;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__nav {
  position: absolute;
  min-height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  display: none;
  z-index: 1;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .header__nav {
    left: 1368px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__nav {
    left: 536px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__nav {
    left: 143px;
  }
}

.header__nav_display-block {
  display: block;
}

.header__nav-button {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  margin: 16px 16px 9px 204px;
}

.header__nav-title {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 24px 34px;
}

.header__nav-title_pink {
  color: #F16D7F;
  margin: 20px 0 12px 34px;
}

.header__nav-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.header__nav-list {
  margin: 12px 0 12px 54.5px;
}

.header__nav-overlay {
  content: "";
  width: 1368px;
  min-height: 765px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: none;
  z-index: 1;
}

.header__nav-overlay_block {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__nav-overlay_block {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__nav-overlay_block {
    display: none;
  }
}

.brand {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .brand {
    margin: 0 0 64px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .brand {
    justify-content: center;
    min-height: 363px;
    margin: 0 0 64px 0;
  }
}

.brand__image {
  width: 50%;
  height: auto;
  display: block;
}

@media (min-width: 375px) and (max-width: 767px) {
  .brand__image {
    display: none;
  }
}

.brand__slogan-wrapper {
  height: 92px;
  align-items: center;
  display: flex;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .brand__slogan-wrapper {
    margin: 0 0 0 39px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .brand__slogan-wrapper {
    margin: 0;
  }
}

.brand__slogan-title {
  color: #222222;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .brand__slogan-title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .brand__slogan-title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 800;
    font-style: normal;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .brand__slogan-title {
    font-size: 37px;
    line-height: 44px;
    font-weight: 800;
    font-style: normal;
  }
}

.brand__slogan-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .brand__slogan-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__slogan-subtitle_pink {
  color: #F16D7F;
  display: inline;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .offers {
    margin-bottom: 97px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .offers {
    margin-bottom: 155px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .offers {
    margin-bottom: 64px;
  }
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.offers__item {
  background-color: #9c7653;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .offers__item {
    margin: 0 0 30px;
    width: 32%;
    min-height: 260px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .offers__item {
    margin: 0 0 16px;
    width: 32%;
    min-height: 167px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .offers__item {
    width: 100%;
    margin: 0 0 32px;
    min-height: 247px;
  }
}

.offers__item_women {
  background-image: url(../img/women_item.jpg);
  background-size: cover;
}

.offers__item_men {
  background-image: url(../img/men_item.jpg);
  background-size: cover;
}

.offers__item_kids {
  background-image: url(../img/kids_item.jpg);
  background-size: cover;
}

.offers__item_accessories {
  background-image: url(../img/accessories_item.jpg);
  background-size: cover;
  width: 100%;
  min-height: 180px;
  margin: 0;
}

.offers__title {
  text-transform: uppercase;
}

.offers__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.products__header-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .products__header-wrapper {
    margin: 0 0 41px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products__header-wrapper {
    margin: 0 0 74px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .products__header-wrapper {
    margin: 0 0 64px;
  }
}

.products__header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.products__header-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .products__list {
    margin: 0 0 48.5px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products__list {
    margin: 0 0 32px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .products__list {
    margin: 0 0 41px 0;
  }
}

.products__card-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .products__card-wrapper {
    width: 31.5%;
    min-height: 581px;
    margin: 0 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products__card-wrapper {
    width: 47%;
    margin: 0 0 15px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .products__card-wrapper {
    width: 100%;
    margin: 0 0 15px;
  }
}

.products__card-wrapper:hover .products__card-overlay::before {
  display: block;
}

.products__card-wrapper:hover .products__card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__overlay-box {
  position: relative;
}

.products__card-overlay::before {
  content: "";
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: none;
  z-index: 1;
  top: 0px;
}

.products__image {
  display: block;
  width: 100%;
  height: auto;
}

.products__card-button {
  background-image: url(../img/product_to-cart.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  min-height: 42px;
  content: "";
  width: 138px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  padding-left: 40px;
  outline: none;
  z-index: 2;
}

.products__card-button:active {
  transform: translate(-50%, -50%) scale(0.9);
}

.products__card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background-color: #F8F8F8;
  padding: 20px 28px 16px;
}

.products__card-title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.products__card-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.products__card-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.products__button {
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  font-style: normal;
  width: 211px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-transform: capitalize;
  font-family: Lato;
  margin: 0 auto 95.5px auto;
  padding: 0;
  outline: 0;
  display: block;
}

@media (min-width: 375px) and (max-width: 767px) {
  .products__button {
    margin: 0 auto 110px auto;
  }
}

.products__button:active {
  transform: scale(0.9);
}

.products__button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.benefits_theme {
  background-color: #222222;
  min-height: 341px;
}

.benefits__list {
  display: flex;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .benefits__list {
    justify-content: space-between;
    min-height: 235px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0 16px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .benefits__list {
    flex-direction: column;
    padding: 48px 0 35px 0;
    justify-content: center;
    align-items: center;
  }
}

.benefits__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .benefits__item-wrapper {
    width: 50%;
    min-height: 134px;
    margin: 103px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__item-wrapper {
    width: 50%;
    margin: 0;
    margin: 0 0 48px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .benefits__item-wrapper {
    width: 100%;
    margin: 0 0 46px 0;
  }
}

.benefits__item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  text-transform: capitalize;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__item-title {
    margin: 0 0 15px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .benefits__item-title {
    margin: 0 0 15px 0;
  }
}

.benefits__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
  padding: 0 25px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__image {
    margin: 0 0 25px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .benefits__image {
    margin: 0 0 27px 0;
  }
}

.footer__subscribe-theme {
  background-image: url(../img/back_subscribe.jpg);
  background-repeat: no-repeat;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .footer__subscribe-theme {
    background-position: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__subscribe-theme {
    background-size: 350%;
    background-position: -450px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-theme {
    background-size: cover;
    padding: 54px 0 0 0;
  }
}

.footer__subscribe-wrapper {
  display: flex;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .footer__subscribe-wrapper {
    align-items: center;
    justify-content: space-between;
    min-height: 448px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__subscribe-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.footer__subscribe-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .footer__subscribe-testimonial {
    width: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__subscribe-testimonial {
    padding: 54px 0 0 0;
    margin: 0 0 48px 0;
    width: 47%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-testimonial {
    flex-direction: column;
    width: 100%;
  }
}

.footer__subscribe-image {
  margin: 0 0 40px 0;
}

.footer__subscribe-text {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-text {
    margin: 0 0 60px 0;
  }
}

.footer__subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .footer__subscribe-form {
    width: 100%;
    width: 557px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-form {
    width: 100%;
  }
}

.footer__subscribe-form-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-form-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
}

.footer__subscribe-form-subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 32px 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-form-subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer__subscribe-email-flex {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__subscribe-email-flex {
    padding: 0 0 140px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-email-flex {
    padding: 0 0 110px 0;
  }
}

.footer__subscribe-input-theme {
  height: 50px;
  width: 256px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  background-color: #E1E1E1;
  padding: 0 0 0 20px;
  outline: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__subscribe-input-theme {
    width: 220px;
  }
}

.footer__subscribe-input-theme:hover {
  background-color: #FFFFFF;
}

.footer :focus::-webkit-input-placeholder {
  color: transparent;
}

.footer__subscribe-button-theme {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Lato;
  outline: none;
}

.footer__subscribe_button-theme:active {
  transform: scale(0.9);
}

.footer__subscribe_button-theme:hover {
  opacity: 0.5;
}

.footer__bottom_theme {
  min-height: 80px;
  background-color: #222222;
  color: #FBFBFB;
}

.footer__bottom_flexbox {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__bottom_flexbox {
    min-height: 143px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer__copy {
  display: flex;
  align-items: center;
  min-height: 80px;
  text-transform: capitalize;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer__copy {
    min-height: 0;
    margin: 24px 0 24px 0;
  }
}

.footer__iconset {
  display: flex;
  align-items: center;
}

.footer__link {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin: 0 8px 0 0;
  color: #000000;
}

.footer__link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.footer__link_pinterest {
  margin: 0;
}

.registration-banner {
  background-color: #F8F3F4;
}

.registration-banner-flexbox {
  min-height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration-main {
  display: flex;
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration-main {
    flex-direction: column;
  }
}

.registration__form {
  width: 360px;
  margin: 64px 129px 96px 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration__form {
    margin: 40px 22px 96px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration__form {
    margin: 40px 22px 40px 0;
    width: 100%;
  }
}

.registration__fieldset {
  border: none;
}

.registration__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}

.registration__input-field {
  width: 360px;
  min-height: 44px;
  margin: 0 0 20px 0;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration__input-field {
    box-sizing: border-box;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration__input-field {
    width: 100%;
  }
}

.registration__input-field:hover {
  border: 1px solid #F16D7F;
}

.registration :focus::-webkit-input-placeholder {
  color: transparent;
}

.registration-gender-select-box {
  margin: 13px 0 30px 0;
  display: flex;
  align-items: center;
}

.registration__radio-input {
  display: none;
}

.registration__radio-label {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  position: relative;
  margin: 0 0 0 20px;
  text-transform: capitalize;
  padding: 0 20px 0 10px;
}

.registration__radio-label::before {
  width: 17px;
  height: 17px;
  position: absolute;
  content: '';
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -20px;
}

.registration__radio-label:hover::before {
  border: 1px solid #F16D7F;
}

.registration__radio-input:checked + .registration__radio-label::before {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.registration__input-field_margin-bottom {
  margin-bottom: 15px;
}

.registration__form-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #A4A4A4;
  margin: 0 0 39px 0;
}

.registration__button {
  background-image: url(..//img/arrow_reg_button.svg);
  background-repeat: no-repeat;
  background-position: 121px;
  height: 50px;
  width: 167px;
  border-radius: 0px;
  background-color: transparent;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 40px 0 0;
  outline: none;
}

.registration__button:active {
  transform: scale(0.9);
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .registration__benefits {
    margin: 64px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration__benefits {
    margin: 40px 0 0 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration__benefits {
    margin: 0 0 100px 0;
  }
}

.registration__benefits-heading, .registration__benefits-text, .registration__benefits-list-point {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration__benefits-heading, .registration__benefits-text, .registration__benefits-list-point {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .registration__benefits-heading, .registration__benefits-text, .registration__benefits-list-point {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration__benefits-heading {
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.registration__benefits-text {
  margin: 0 0 21px 0;
}

.registration__benefits-list-point {
  margin: 0 0 16px 40px;
  position: relative;
}

.registration__benefits-list-point::before {
  position: absolute;
  content: "";
  background-image: url(../img/checked.svg);
  width: 20px;
  height: 16px;
  left: -42px;
  top: 7px;
}

.cart__banner {
  background-color: #F8F3F4;
}

.cart__banner-theme {
  min-height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__banner-theme {
    align-items: center;
  }
}

.cart__banner-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart-flexbox {
  display: flex;
  margin: 96px auto 129px auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart-flexbox {
    flex-direction: column;
    align-items: center;
    margin: 59px auto 0 auto;
    justify-content: end;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart-flexbox {
    flex-direction: column;
    margin: 39px auto 96px auto;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .cart__column {
    margin: 0 128px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__column {
    margin: 0;
    width: 100%;
  }
}

.cart__product {
  display: flex;
  min-height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
  margin-bottom: 40px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product {
    min-height: 188px;
  }
}

.cart__product_margin-bottom {
  margin-bottom: 73px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product_margin-bottom {
    margin-bottom: 62px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product_margin-bottom {
    margin-bottom: 30px;
  }
}

.cart__product-img {
  margin: 0 30px 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product-img {
    width: 34%;
    height: auto;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-img {
    width: 38%;
    height: auto;
    margin: 0 15px 0 0;
  }
}

.cart__product-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 22px 30% 42px 0;
  color: #222222;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding: 13px 73px 26px 0;
  }
}

.cart__product-img-close {
  position: absolute;
  right: 22px;
  top: 28px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-img-close {
    width: 10px;
    height: auto;
    right: 15px;
    top: 18px;
  }
}

.cart__product-price, .cart__product-color, .cart__product-size, .cart__product-quantity {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 6px 0;
  color: #575757;
  text-transform: capitalize;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-price, .cart__product-color, .cart__product-size, .cart__product-quantity {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 4px 0;
  }
}

.cart__product-price_pink {
  color: #F16D7F;
}

.cart__product-quantity-input {
  width: 43px;
  text-align: center;
  margin: 0 0 0 24px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  border: 1px solid #A4A4A4;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-quantity-input {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    width: 23px;
  }
}

.cart__product-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product-buttons-wrapper {
    justify-content: center;
    margin: 0 0 65px 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-buttons-wrapper {
    justify-content: space-between;
    margin: 0 0 65px 0;
  }
}

.cart__product-button-clear, .cart__product-button-continue {
  text-transform: uppercase;
  background: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .cart__product-button-clear, .cart__product-button-continue {
    width: 40%;
    min-height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product-button-clear, .cart__product-button-continue {
    width: 31%;
    min-height: 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-button-clear, .cart__product-button-continue {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    min-height: 33px;
    width: 175px;
  }
}

.cart__product-button-clear:active, .cart__product-button-continue:active {
  transform: scale(0.9);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product-button-clear {
    margin: 0 25px 0 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-button-clear {
    margin: 0 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__product-button-continue {
    margin: 0 0 0 25px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__product-button-continue {
    margin: 0 0 0 0;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .cart__form {
    width: 31%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__form {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.cart__form-fieldset {
  border: none;
}

.cart__form-legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
}

.cart__form-city, .cart__form-state, .cart__form-zip {
  width: 100%;
  height: 45px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  border: 1px solid #6F6E6E;
  box-sizing: border-box;
}

.cart__form-city:hover, .cart__form-state:hover, .cart__form-zip:hover {
  border: 1px solid #F16D7F;
}

.cart :focus::-webkit-input-placeholder {
  color: transparent;
}

.cart__form-button-quote {
  width: 100px;
  min-height: 34px;
  text-transform: uppercase;
  background: none;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
  margin: 24px 0 58px 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__form-button-quote {
    margin: 24px 0 48px 0;
  }
}

.cart__form-button-quote:active {
  transform: scale(0.9);
}

.cart__form-checkout-box {
  width: 100%;
  min-height: 214px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart__form-checkout-box {
    margin: 38px 0 147px 15px;
    min-width: 360px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .cart__form-checkout-box {
    margin: 0;
  }
}

.cart__form-subtotal-heading, .cart__form-subtotal-price {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form-subtotal-heading {
  padding: 39px 34px 12px 0;
}

.cart__form-grandtotal-heading, .cart__form-grandtotal-price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form-subtotal-price, .cart__form-grandtotal-price {
  padding: 0 0 0 20px;
}

.cart__form-grandtotal-price_pink {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
}

.cart__form-checkout-button {
  height: 50px;
  border-radius: 0px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  outline: none;
  margin: 39px auto 0;
  width: 73%;
}

.cart__form-checkout-button:active {
  transform: scale(0.9);
}

.product-banner {
  background-color: #F8F3F4;
}

.product-banner__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 148px;
  box-sizing: border-box;
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-banner__theme {
    flex-direction: column;
    padding: 24px 0 46px 0;
  }
}

.product-banner-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-banner-heading {
    margin: 0 0 32px 0;
  }
}

.product-breadcrumbs__text {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.product-breadcrumbs__text + .product-breadcrumbs__text::before {
  padding: 0 3px;
  content: "/\00a0";
}

.product-breadcrumbs__link {
  text-decoration: none;
  color: #5D5D5D;
}

.product-breadcrumbs__link:hover {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
}

.product-card {
  position: relative;
  background-color: #FFFFFF;
  min-height: 600px;
  border: 1px solid #6F6E6E;
  margin: -50px auto 129px auto;
  text-align: center;
  z-index: 1;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .product-card {
    padding: 65px 19%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-card {
    padding: 65px 19% 78px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-card {
    padding: 65px 23px 78px;
  }
}

.product-card__heading {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin: 0 0 12px 0;
}

.product-card__heading::after {
  content: "";
  border-bottom: #F16D7F solid 3px;
  bottom: 0;
  display: block;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 63px;
}

.product-card__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  text-transform: uppercase;
  margin: 0 0 48px 0;
}

.product-card__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  margin: 0 0 32px 0;
}

.product-card__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 0 0 130px 0;
}

.product__button {
  height: 42px;
  content: "";
  width: 211px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  outline: none;
  z-index: 2;
  display: block;
  margin: 48px auto 0 auto;
}

.product__button:active {
  transform: scale(0.9);
}

.product-cards {
  margin: 0 auto 128px auto;
  min-height: 581px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-cards {
    margin: 0 auto 64px auto;
  }
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
}

.product-cards__wrapper {
  background-color: #F8F8F8;
  padding: 20px 28px 16px;
}

.product-cards__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 12px 0;
}

.product-cards__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 0 18px 0;
}

.product-cards__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img_hidden-tablet {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .img_hidden-mobile {
    display: none;
  }
}

.fa-cart-img {
  padding: 0 25px;
  font-size: 25px;
}

.catalog-products {
  padding: 0;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .catalog-products {
    margin: 0 auto 96px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-products {
    margin: 0 auto 40px auto;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-products {
    margin: 0 auto 40px auto;
  }
}

.catalog-banner {
  background-color: #F8F3F4;
}

.catalog-banner__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 148px;
  padding: 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-banner__theme {
    flex-direction: column;
    padding: 24px 0 46px 0;
  }
}

.catalog-banner-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-banner-heading {
    margin: 0 0 32px 0;
  }
}

.catalog-breadcrumbs__text {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.catalog-breadcrumbs__text + .catalog-breadcrumbs__text::before {
  padding: 0 3px;
  content: "/\00a0";
}

.catalog-breadcrumbs__link {
  text-decoration: none;
  color: #5D5D5D;
}

.catalog-breadcrumbs__link:hover {
  text-decoration: none;
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
}

.catalog__navigation-link:hover {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
}

.catalog-dropdown-bar {
  min-height: 132px;
  padding: 51px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-filter {
  position: relative;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .catalog-filter {
    flex-grow: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-filter {
    flex-grow: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .catalog-dropdowns-wrapper {
    flex-grow: 3;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-dropdowns-wrapper {
    flex-grow: 0;
  }
}

.catalog-filter__label {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-filter__label {
    display: none;
  }
}

.catalog-filter__button {
  background-color: transparent;
  border: none;
  fill: #000000;
}

.catalog-filter__label_nav {
  color: #F16D7F;
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-filter__label_nav {
    display: none;
  }
}

.catalog-filter__img {
  width: 15px;
  height: 10px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-filter__img {
    width: 37px;
    height: 24px;
  }
}

.catalog-filter__img_nav {
  fill: #F16D7F;
}

.catalog-filter-menu {
  position: absolute;
  display: none;
  min-height: 531px;
  width: 360px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.13);
  padding: 13px 0 17px 17px;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  z-index: 1;
}

.catalog-filter-menu__title {
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #F8F8F8;
  padding: 8px 8px 8px 11px;
  margin: 0 0 24px 0;
}

.catalog-filter-menu__title_first {
  margin: 24px 0 24px 0;
}

.catalog-filter-menu__title_last {
  margin: 0;
}

.catalog-filter-menu__item {
  margin: 0 0 11px 17px;
}

.catalog-filter-menu__item_last {
  margin: 0 0 24px 17px;
}

.catalog-filter-menu__link {
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #A4A4A4;
}

.catalog__display_block {
  display: block;
}

.catalog-products-wrapper {
  display: grid;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .catalog-products-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: "item-01 item-02 item-03" "item-04 item-05 item-06" "item-07 item-08 item-09";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: "item-01 item-02" "item-03 item-04" "item-05 item-06" "item-07 item-08";
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-products-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 15px;
    grid-template-areas: "item-01" "item-02" "item-03" "item-04" "item-05" "item-06" "item-07" "item-08" "item-09";
  }
}

.catalog-products__item {
  background-color: #F8F8F8;
}

.catalog-products__item_01 {
  grid-area: item-01;
}

.catalog-products__item_02 {
  grid-area: item-02;
}

.catalog-products__item_03 {
  grid-area: item-03;
}

.catalog-products__item_04 {
  grid-area: item-04;
}

.catalog-products__item_05 {
  grid-area: item-05;
}

.catalog-products__item_06 {
  grid-area: item-06;
}

.catalog-products__item_07 {
  grid-area: item-07;
}

.catalog-products__item_08 {
  grid-area: item-08;
}

.catalog-products__item_09 {
  grid-area: item-09;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-products__item_09 {
    display: none;
  }
}

.catalog-products__image {
  width: 100%;
  height: auto;
  margin: 0 0 24px 0;
}

.catalog-products__card-title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 12px 0;
  padding: 0 18px;
}

.catalog-products__card-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 0 18px 0;
  padding: 0 18px;
}

.catalog-products__card-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin: 0 0 20px 0;
  padding: 0 18px;
}

.catalog-pagination {
  display: flex;
  justify-content: center;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .catalog-pagination {
    margin: 0 auto 96px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog-pagination {
    margin: 0 auto 65px auto;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .catalog-pagination {
    margin: 0 auto 65px auto;
  }
}
/*# sourceMappingURL=style.css.map */