@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; этот параметр по умолчанию не применяем*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
}

.header_theme_dark_blue {
  background-color: #222222;
  position: relative;
}

.header__logo_theme {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__profile {
  margin: 0 34px 0 0;
}

.header__icon_fill_color {
  fill: #E8E8E8;
}

.header__menu:hover, .header__search:hover, .header__profile:hover, .header__cart:hover {
  fill: #F16D7F;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__navigation {
  position: absolute;
  left: 1368px;
  min-height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  display: none;
}

.header__navigation_display_block {
  display: block;
}

.header__navigation_button {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  margin: 16px 16px 9px 204px;
}

.header__nav_title {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 24px 34px;
}

.header__nav_subtitle_pink {
  color: #F16D7F;
  margin: 20px 0 12px 34px;
}

.header__nav_link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.header.header__nav_list {
  margin: 12px 0 12px 54.5px;
}

.brand_theme {
  background-color: #F1E4E6;
}

.brand_wrapper {
  display: flex;
}

.brand_overlay::before {
  content: "";
  width: 1368px;
  min-height: 765px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
}

.brand__image {
  display: flex;
  align-items: center;
  margin: 0 63px 0 0;
}

.brand__slogan_wrapper {
  align-items: center;
  display: flex;
}

.brand__slogan_wrapper::before {
  content: url(../img/brand_rectangle.png);
  margin: 12px 16px 0 0;
}

.brand__slogan_title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.brand__slogan_subtitle {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

.brand__slogan_subtitle_pink {
  color: #F16D7F;
}

.offers {
  margin-top: 64px;
  margin-bottom: 97px;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.offers__item {
  width: 360px;
  min-height: 260px;
  background-color: #9c7653;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offers__item_women {
  background-image: url(../img/women_item.jpg);
}

.offers__item_men {
  background-image: url(../img/men_item.jpg);
}

.offers__item_kids {
  background-image: url(../img/kids_item.jpg);
}

.offers__item_accessories {
  background-image: url(../img/accessories_item.jpg);
  width: 100%;
  min-height: 180px;
  margin: 0;
}

.offers__title {
  text-transform: uppercase;
}

.offers__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.products__header_wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin: 0 0 41px;
}

.products__header_title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.products__header_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 48.5px 0;
}

.products__card_wrapper {
  width: 360px;
  min-height: 581px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.products__card_wrapper:hover .products_card_overlay::before {
  display: block;
}

.products__card_wrapper:hover .products__card_button {
  display: block;
}

.products_card_overlay::before {
  content: "";
  width: 360px;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
}

.products__card_button {
  background-image: url(../img/product_to-cart.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  height: 42px;
  content: "";
  width: 138px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  padding-left: 40px;
  outline: none;
}

.products__card_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  background-color: #F8F8F8;
  padding: 20px 28px 16px;
}

.products__card_title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.products__card_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.products__card_price {
  color: #F16D7F;
}

.products__button_flex {
  display: flex;
  justify-content: center;
}

.products__button_theme {
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  font-style: normal;
  width: 211px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-transform: capitalize;
  font-family: Lato;
  margin: 0 0 95.5px 0;
  padding: 0;
  outline: 0;
}

.products__button_theme:active {
  transform: scale(0.9);
}

.products__button_theme:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.benefits_background_theme {
  background-color: #222222;
  min-height: 341px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 235px;
}

.benefits__item_wrapper {
  width: 360px;
  min-height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 103px 0 0 0;
}

.benefits__item_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  text-transform: capitalize;
}

.benefits__item_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
  padding: 0 25px;
  text-align: center;
}

.footer__subscribe_background_theme {
  background-image: url(../img/back_subscribe.jpg);
  min-height: 448px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__subscribe_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 448px;
}

.footer__subscribe_testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0 223px 0 0;
}

.footer__subscribe_image {
  margin: 0 0 40px 0;
}

.footer__subscribe_text {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.footer__subscribe_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 557px;
}

.footer__subscribe_form_title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.footer__subscribe_form_subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 32px 0;
}

.footer__subscribe_email_flex {
  display: flex;
  align-items: center;
}

.footer__subscribe_input_theme {
  height: 50px;
  width: 256px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  background-color: #E1E1E1;
  padding: 0 0 0 20px;
  outline: none;
}

.footer__subscribe_input_theme:hover {
  background-color: #FFFFFF;
}

.footer :focus::-webkit-input-placeholder {
  color: transparent;
}

.footer__subscribe_button_theme {
  display: inline-block;
  height: 50px;
  width: 100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Lato;
  outline: none;
}

.footer__subscribe_button_theme:active {
  transform: scale(0.9);
}

.footer__subscribe_button_theme:hover {
  opacity: 0.5;
}

.footer__bottom_background_theme {
  min-height: 80px;
  background-color: #222222;
  color: #FBFBFB;
}

.footer__bottom_flex {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  display: flex;
  align-items: center;
  min-height: 80px;
  text-transform: capitalize;
}

.footer__iconset {
  display: flex;
  align-items: center;
}

.footer__icon_container {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin: 0 8px 0 0;
  color: #000000;
}

.footer__icon_container:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.footer_icon_container_pinterest {
  margin: 0;
}

.registration__banner_theme {
  display: flex;
  align-items: center;
  min-height: 148px;
  background-color: #F8F3F4;
}

.registration_heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration_main {
  display: flex;
}

.registration__form {
  width: 360px;
  margin: 64px 129px 96px 0;
  display: flex;
  flex-direction: column;
}

.registration_fieldset {
  border: none;
}

.registration_legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}

.registration__input_field {
  width: 360px;
  min-height: 44px;
  margin: 0 0 20px 0;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 20px;
}

.registration :focus::-webkit-input-placeholder {
  color: transparent;
}

.registration_gender_select {
  margin: 13px 0 30px 0;
  display: flex;
  align-items: center;
}

.registration_radio {
  display: none;
}

.registration_radio_label {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  position: relative;
  margin: 0 0 0 20px;
  text-transform: capitalize;
  padding: 0 20px 0 10px;
}

.registration_radio_label::before {
  width: 17px;
  height: 17px;
  position: absolute;
  content: '';
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -20px;
}

.registration_radio:checked + .registration_radio_label::before {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.registration__input_field_last {
  margin-bottom: 15px;
}

.registration_text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #A4A4A4;
  margin: 0 0 39px 0;
}

.registration_button_theme {
  background-image: url(..//img/arrow_reg_button.svg);
  background-repeat: no-repeat;
  background-position: 121px;
  height: 50px;
  width: 167px;
  border-radius: 0px;
  background-color: transparent;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 40px 0 0;
  outline: none;
}

.registration_button_theme:active {
  transform: scale(0.9);
}

.registration__benefits {
  margin: 64px 0 0 0;
}

.registration__benefits_heading, .registration_benefits_text, .registration_list_point {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.registration__benefits_heading {
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.registration_benefits_text {
  margin: 0 0 21px 0;
}

.registration_list_point {
  margin: 0 0 16px 40px;
  position: relative;
}

.registration_list_point::before {
  position: absolute;
  content: "";
  background-image: url(../img/checked.svg);
  width: 20px;
  height: 16px;
  left: -42px;
  top: 7px;
}

.cart__banner_theme {
  display: flex;
  align-items: center;
  min-height: 148px;
  background-color: #F8F3F4;
}

.cart_heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart_theme {
  display: flex;
  margin: 96px auto 129px auto;
}

.cart_left-column {
  width: 652px;
  margin: 0 128px 0 0;
}

.cart__card_theme {
  display: flex;
  min-height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
  margin-bottom: 40px;
}

.cart__card_theme_margin_bottom {
  margin-bottom: 73px;
}

.cart__card_img_product {
  margin: 0 30px 0 0;
}

.cart__card_heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 22px 30% 42px 0;
  color: #222222;
}

.cart__card_img_close {
  position: absolute;
  right: 22px;
  top: 28px;
}

.cart__card_price, .cart__card_color, .cart__card_size, .cart__card_quantity {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 6px 0;
  color: #575757;
  text-transform: capitalize;
}

.cart__card_price_pink {
  color: #F16D7F;
}

.cart__card_quantity_number {
  width: 43px;
  text-align: center;
  margin: 0 0 0 24px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  border: 1px solid #A4A4A4;
}

.cart__card_buttons {
  display: flex;
  justify-content: space-between;
}

.cart__card_button_clear, .cart__card_button_continue {
  width: 235px;
  min-height: 50px;
  text-transform: uppercase;
  background: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
}

.cart__card_button_clear:active, .cart__card_button_continue:active {
  transform: scale(0.9);
}

.cart__form_theme {
  width: 360px;
}

.cart__form_fieldset {
  border: none;
}

.cart__form_legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
}

.cart__form_city, .cart__form_state, .cart__form_zip {
  width: 360px;
  height: 45px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  border: 1px solid #6F6E6E;
}

.cart :focus::-webkit-input-placeholder {
  color: transparent;
}

.cart__form_button_quote {
  width: 100px;
  min-height: 34px;
  text-transform: uppercase;
  background: none;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  outline: 0;
  color: #575757;
  margin: 24px 0 58px 0;
}

.cart__form_button_quote:active {
  transform: scale(0.9);
}

.cart__form_subtotal_heading, .cart__form_subtotal_price {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form_subtotal_heading {
  padding: 39px 34px 12px 0;
}

.cart__form_grandtotal_heading, .cart__form_grandtotal_price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  padding: 0 34px 0 0;
}

.cart__form_subtotal_price, .cart__form_grandtotal_price {
  padding: 0 0 0 20px;
}

.cart__form_grandtotal_price_pink {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
}

.cart__form_checkout_button {
  height: 50px;
  width: 273px;
  border-radius: 0px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  outline: none;
  margin: 39px auto 0;
}

.cart__form_checkout_button:active {
  transform: scale(0.9);
}

.cart__form_box_bkg {
  width: 100%;
  min-height: 214px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */