body {
    font-family: Lato;
    font-style: normal;
    @include font (16px, 19px, 400);
  }
  
  .container {
    @include desktop {
      max-width: 1138px;
      margin: 0 auto;
    }
    @include tablet {
      max-width: 736px;
      margin: 0 auto;
    };
    @include mobile {
      max-width: 359px;
      margin: 0 auto;
    };
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }