body {
    font-family: "Lato", "Arial", "sans-serif";
    font-style: normal;
    @include font (16px, 19px, 400);
  }
  
  .container {
    @include desktop {
      max-width: 71%;
      margin: 0 auto;
    }
    @include tablet {
      max-width: 96%;
      margin: 0 auto;
    };
    @include mobile {
      max-width: 96%;
      margin: 0 auto;
    };
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }