@mixin font ($font-size, $line-height, $font-weight: 400, $font-style: normal) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin desktop {
    @media (min-width: 1025px) and (max-width: $desktop-width) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile {
    @media (min-width: $mobile-width) and (max-width: 767px){
        @content;
    }
}