.benefits {

    &_background_theme {
        background-color: $dark-blue;
        min-height: 341px;
    }
    
    &__list {

        display: flex;

        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            min-height: 235px;
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
    
    &__item_wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include desktop {
            width: 360px;
            min-height: 134px;
            margin: 103px 0 0 0;
        }

        @include tablet {
            margin: 0;
            padding: 48px 0 48px;
        }

        @include mobile {
            width: 100%;
            margin: 0;
        }
    }
    
    &__item_wrapper-margin-bottom {
        @include tablet {
            padding-bottom: 64px;
        }

        @include mobile {
            padding-bottom: 81px;
        }
    }
    
    &__item_title {
        @include font(20px, 24px);
        color: $gray;
        text-transform: capitalize;
    }
    
    &__item_text {
        @include font(14px, 17px, 300);
        color: $gray;
        padding: 0 25px;
        text-align: center;
    }
}