.brand {

    background-color: $pink;
    display: flex;
    align-items: center;

    @include desktop {
    margin: 0 0 64px 0;
    }

    @include tablet {
        margin: 0 0 20px 0;
        }

    @include mobile {
        justify-content: center;
        min-height: 363px;
        margin: 0 0 64px 0;
    }
    
    &__image {

        width: 50%;
        height: auto;
        display: block;
        
        @include mobile {
            display: none;
        }
    }
    
    &__slogan-wrapper {
        height: 92px;
        align-items: center;
        display: flex;
        border-left: 12px solid $dark-pink;
        padding: 0 0 0 16px;

        @include tablet {
            margin: 0 0 0 39px;
        }

        @include mobile {
            margin: 0;
        }
    }
    
    &__slogan-title {

        color: $dark-blue;
        text-transform: uppercase;
        display: block;
        
        @include desktop {
            @include font(48px, 58px, 900);
        }

        @include tablet {
            @include font(37px, 44px, 800);
        }

        @include mobile {
            @include font(37px, 44px, 800);
        }
        
    }
    
    &__slogan-subtitle {
        @include font(24px, 28px, 700);
        display: block;
        @include tablet {
            @include font(24px, 28px, 700);
        }
    }
    
    &__slogan-subtitle_pink {
        color: $dark-pink;
        display: inline;
    }
}