.cart {

    &__banner {
        background-color: $registration-back;
    }

    &-banner-theme {
        min-height: 148px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile {
            align-items: center;
        }
    }
    
    &-heading {
        @include font(24px, 29px);
        color: $dark-pink;
        text-transform: uppercase;
    }

    &-theme {
        display: flex;
        margin: 96px auto 129px auto;

        @include tablet {
            flex-direction: column;
            align-items: center;
            margin: 59px auto 0 auto;
            justify-content: end;
        }

        @include mobile {
            flex-direction: column;
            margin: 39px auto 96px auto;
        }
    }

    &__left_column {

        @include desktop {
            margin: 0 128px 0 0;
        }

        @include tablet {
            margin: 0;
            width: 100%;
        }
    }

    &__product {
        display: flex;
        min-height: 306px;
        box-shadow: 17px 19px 24px $card-shadow;
        position: relative;
        margin-bottom: 40px;

        @include mobile {
            min-height: 188px;
        }
    }

    &__product_margin-bottom {
        margin-bottom: 73px;

        @include tablet {
            margin-bottom: 62px;
        }

        @include mobile {
            margin-bottom: 30px;
        }
    }

    &__product-img {
        margin: 0 30px 0 0;

        @include tablet {
            width: 34%;
            height: auto;
        }

        @include mobile {
            width: 38%;
            height: auto;
            margin: 0 15px 0 0;
        }
    }

    &__product-heading {
        @include font(24px, 29px);
        text-transform: uppercase;
        padding: 22px 30% 42px 0;
        color: $dark-blue;

        @include mobile {
            @include font(16px, 19px);
            padding: 13px 73px 26px 0;
        }
    }

    &__product-img-close {
        position: absolute;
        right: 22px;
        top: 28px;
        @include mobile {
            width: 10px;
            height: auto;
            right: 15px;
            top: 18px;
        }
    }

    &__product-price,
    &__product-color,
    &__product-size,
    &__product-quantity {
        @include font(22px, 26px);
        padding: 0 0 6px 0;
        color: $card-cart-text;
        text-transform: capitalize;

        @include mobile {
            @include font(14px, 16px);
            padding: 0 0 4px 0;
        }
    }

    &__product-price_pink {
        color: $dark-pink;
    }

    &__product-quantity-input {
        width: 43px;
        text-align: center;
        margin: 0 0 0 24px;
        @include font(18px, 22px);
        color: $card-cart-text;
        border: 1px solid $border-input-fields;
        @include mobile {
            @include font(10px, 12px);
            width: 23px;
        }
    }

    &__product-buttons-wrapper {
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: center;
            margin: 0 0 65px 0;
        }

        @include mobile {
            justify-content: space-between;
            margin: 0 0 65px 0;
        }
    }

    &__product-button-clear,
    &__product-button-continue {

        text-transform: uppercase;
        background: none;
        @include font(14px, 17px, 300);
        border: 1px solid $border-input-fields;
        outline: 0;
        color: $card-cart-text;

        @include desktop {
            width: 40%;
            min-height: 50px;
        }

        @include tablet {
            width: 31%;
            min-height: 50px;
        }

        @include mobile {
            @include font(12px, 14px);
            text-transform: capitalize;
            min-height: 33px;
            width: 175px;
        }
    }

    &__product-button-clear:active,
    &__product-button-continue:active {
        transform: scale(0.9);
    }

    &__product-button-clear {
        @include tablet {
            margin: 0 25px 0 0;
        }

        @include mobile {
            margin: 0 0 0 0;
        }
    }

    &__product-button-continue {
        @include tablet {
            margin: 0 0 0 25px;
        }
        
        @include mobile {
            margin: 0 0 0 0;
        }
    }

    &__form {

        @include desktop {
            width: 31%;
        }

        @include tablet {
            display: flex;
            width: 100%;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__form-fieldset {
        border: none;
    }

    &__form-legend {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        color: $nav-text-gray;
    }

     &__form-city,
     &__form-state,
     &__form-zip {
        width: 100%;
        height: 45px;
        @include font(13px, 16px, 300);
        color: $nav-text-gray;
        padding: 0 0 0 17px;
        box-sizing: border-box;
        margin: 20px 0 0 0;
        border: 1px solid $nav-text-gray;
        box-sizing: border-box;
    }

    &__form-city:hover,
     &__form-state:hover,
     &__form-zip:hover {
        border: 1px solid $dark-pink;
    }

    :focus::-webkit-input-placeholder {
        color: transparent;
    }

     &__form-button-quote {
        width: 100px;
        min-height: 34px;
        text-transform: uppercase;
        background: none;
        @include font(11px, 13px, 300);
        border: 1px solid $border-input-fields;
        outline: 0;
        color: $card-cart-text;
        margin: 24px 0 58px 0;

        @include mobile {
            margin: 24px 0 48px 0;
        }
    }

    &__form-button-quote:active {
        transform: scale(0.9);
    }

    &__form-checkout-box {
        width: 100%;
        min-height: 214px;
        background-color: $lighter-gray;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 38px 0 147px 15px;
            min-width: 360px;
        }

        @include mobile {
            margin: 0;
        }
    }

    &__form-subtotal-heading,
    &__form-subtotal-price {
        text-transform: uppercase;
        @include font(11px, 13px);
        text-align: right;
        padding: 0 34px 0 0;
    }

    &__form-subtotal-heading {
        padding: 39px 34px 12px 0;
    }

    &__form-grandtotal-heading,
    &__form-grandtotal-price {
        text-transform: uppercase;
        @include font(16px, 19px, 300);
        text-align: right;
        padding: 0 34px 0 0;
    }

    &__form-subtotal-price,
    &__form-grandtotal-price {
        padding: 0 0 0 20px;
    }

    &__form-grandtotal-price_pink {
        color: $dark-pink;
        @include font(16px, 19px, 700);
    }

    &__form-checkout-button {
        height: 50px;
        border-radius: 0px;
        background-color: $dark-pink;
        border: 1px solid $dark-pink;
        color: $white;
        text-transform: uppercase;
        font-family: Lato;
        @include font(16px, 19px, 300);
        outline: none;
        margin: 39px auto 0;
        width: 73%;
    }
    
    &__form-checkout-button:active {
        transform: scale(0.9);
    }
}