.footer {

    &__subscribe-theme {
        background-image: url(../img/back_subscribe.jpg);
        background-repeat: no-repeat;

        @include desktop {
            background-position: center;
        }

        @include tablet {
            background-size: 350%;
            background-position: -450px;
        }

        @include mobile {
            background-size: cover;
            padding: 54px 0 0 0;
        }

    }
    
    &__subscribe-wrapper {
        display: flex;

        @include desktop {
            align-items: center;
            justify-content: space-between;
            min-height: 448px;
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
        }

    }
    
    &__subscribe-testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            width: 360px;
        }

        @include tablet {
            padding: 54px 0 0 0;
            margin: 0 0 48px 0;
            width: 47%;
        }

        @include mobile {
            flex-direction: column;
            width: 100%;
        }
    }
    
    &__subscribe-image {
        margin: 0 0 40px 0;
    }
    
    &__subscribe-text {
        font-size: 20px;
        font-style: italic;
        line-height: 24px;
        text-align: center;

        @include mobile {
            margin: 0 0 60px 0;
        }
    }
    
    &__subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            width: 100%;
            width: 557px;
        }

        @include mobile {
            width: 100%;
        }
    }
    
    &__subscribe-form-title {
        @include font(24px, 38px, 700);
        text-transform: uppercase;
        text-align: center;

        @include mobile {
            @include font(24px, 36px, 700);
        }
    }
    
    &__subscribe-form-subtitle {
        @include font(18px, 30px);
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 32px 0;

        @include mobile {
            @include font(14px, 22px);
        }
    }
    
    &__subscribe-email-flex {
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 140px 0; 
        }

        @include mobile {
            padding: 0 0 110px 0; 
        }
    }
    
    &__subscribe-input-theme {
        height: 50px;
        width: 256px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border: none;
        background-color: $input-back-gray;
        padding: 0 0 0 20px;
        outline: none;

        @include mobile {
            width: 220px; 
        }
    }
    
    &__subscribe-input-theme:hover {
        background-color: $white;
    }
    
    :focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    &__subscribe-button-theme {
        display:inline-block;
        height: 50px;
        width: 100px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $dark-pink;
        border: none;
        color: $white;
        text-transform: capitalize;
        font-size: 14px;
        font-family: Lato;
        outline: none;
    }
    
    &__subscribe_button-theme:active {
        transform: scale(0.9);
    }
    
    &__subscribe_button-theme:hover {
        opacity: 0.5;
    }
    
    &__bottom_theme {
        min-height: 80px;
        background-color: $dark-blue;
        color: $gray;
    }
    
    &__bottom_flexbox {
        display: flex;
        justify-content: space-between;

        @include mobile {
            min-height: 143px;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
        }
    }
    
    &__copy {
        display: flex;
        align-items: center;
        min-height: 80px;
        text-transform: capitalize;

        @include mobile {
            min-height: 0;
            margin: 24px 0 24px 0;
        }
    }
    
    &__iconset {
        display: flex;
        align-items: center;
    }
    
    &__link {
        background-color: $white;
        width: 32px;
        height: 32px;
        position: relative;
        display: inline-block;
        margin: 0 8px 0 0;
        color: $black;
    }
    
    &__link:hover {
        background-color: $dark-pink;
        color: $white;
    }
    
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: currentColor;
    }
    
    &__link_pinterest {
        margin: 0;
    }
}