.offers {

        margin-top: 64px;
        margin-bottom: 97px;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
    }
    
    &__item {
        width: 360px;
        min-height: 260px;
        background-color:$brown;
        margin: 0 0 30px;
        @include flex-center();
        flex-direction: column;
    }
    
    &__item_women {
        background-image: url(../img/women_item.jpg);
    }
    
    &__item_men {
        background-image: url(../img/men_item.jpg);
    }
    
    &__item_kids {
        background-image: url(../img/kids_item.jpg);
    }
    
    &__item_accessories {
        background-image: url(../img/accessories_item.jpg);
        width: 100%;
        min-height: 180px;
        margin: 0;
    }
    
    &__title {
        text-transform: uppercase;    
    }
    
    &__subtitle {
        @include font(24px, 29px, 700);
        color: $dark-pink;
        text-transform: uppercase;
    }
}