.offers {

    @include desktop {
        margin-bottom: 97px;
    }

    @include tablet {
        margin-bottom: 155px;
    }

    @include mobile {
        margin-bottom: 64px;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
    }
    
    &__item {

        background-color:$brown;
        @include flex-center();
        flex-direction: column;
        
        @include desktop {
            margin: 0 0 30px;
            width: 32%;
            min-height: 260px;
        }

        @include tablet {
            margin: 0 0 16px;
            width: 32%;
            min-height: 167px;
        }

        @include mobile {
            width: 100%;
            margin: 0 0 32px;
            min-height: 247px;
        }
    }
    
    &__item_women {
        background-image: url(../img/women_item.jpg);
        background-size: cover;
    }
    
    &__item_men {
        background-image: url(../img/men_item.jpg);
        background-size: cover;
    }
    
    &__item_kids {
        background-image: url(../img/kids_item.jpg);
        background-size: cover;
    }
    
    &__item_accessories {
        background-image: url(../img/accessories_item.jpg);
        background-size: cover;
        width: 100%;
        min-height: 180px;
        margin: 0;
    }
    
    &__title {
        text-transform: uppercase;    
    }
    
    &__subtitle {
        @include font(24px, 29px, 700);
        color: $dark-pink;
        text-transform: uppercase;
    }
}