.products {

    &__header_wrapper {

        @include desktop {
            margin: 0 0 41px;
        }
    
        @include tablet {
            margin: 0 0 74px;
        }
    
        @include mobile {
            margin: 0 0 64px;
        }

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
    }
    
    &__header_title {
        @include font(30px, 36px);
        color: $dark-blue;
    }
    
    &__header_text {
        @include font(14px, 17px);
        color: $light-gray;
    }
    
    &__list {

        @include desktop {
            margin: 0 0 48.5px 0;
        }
    
        @include tablet {
            margin: 0 0 32px 0;
        }
    
        @include mobile {
            margin: 0 0 41px 0;
        }
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &__card_wrapper {

        @include desktop {
            width: 31.5%;
            min-height: 581px;
            margin: 0 0 30px;
        }
    
        @include tablet {
            width: 47%;
            margin: 0 0 15px;
        }
    
        @include mobile {
            width: 100%;
            margin: 0 0 15px;
        }

        display: flex;
        flex-direction: column;
    }
    
    &__card_wrapper:hover
    &_card_overlay::before {
        display: block;
    }
    
    &__card_wrapper:hover
    &__card_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__overlay-box {
        position: relative;
    }
    
    &_card_overlay::before {
        content: "";
        width: 100%;
        min-height: 100%;
        background: $overlay-color;
        position: absolute;
        display: none;
        z-index: 1;
        top: 0px;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;  
    }
    
    &__card_button {
        background-image: url(../img/product_to-cart.svg);
        background-repeat: no-repeat;
        background-position: 10px;    
        height: 42px;
        content: "";
        width: 138px;
        border-radius: 0px;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        text-transform: capitalize;
        font-family: Lato;
        @include font(14px, 17px, 700);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        text-align: center;
        padding-left: 40px;
        outline: none;
        z-index: 2;
    }

    &__card_content_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        background-color: $lighter-gray;
        padding: 20px 28px 16px;
    }
    
    &__card_title {
        @include font(13px, 16px);
        text-transform: uppercase;
        color: $black;
    }
    
    &__card_text {
        @include font(14px, 17px, 300);
        color: $light-gray;
    }
    
    &__card_price {
        color: $dark-pink;
    }
    
    &__button_flex {
        display: flex;
        justify-content: center;
    }
    
    &__button_theme {
        @include font(16px, 47px);
        width: 211px;
        border-radius: 0px;
        background-color: transparent;
        border: 1px solid $dark-pink;
        color: $dark-pink;
        text-transform: capitalize;
        font-family: Lato;
        margin: 0 0 95.5px 0;
        padding: 0;
        outline: 0;

        @include mobile {
            margin: 0 0 110px 0;
        }

    }
    
    &__button_theme:active {
        transform: scale(0.9);
     }
    
    &__button_theme:hover {
        background-color: $dark-pink;
        border: 1px solid $dark-pink;
        color: $white;
    }    
}