.registration {

    &-banner {
        background-color: $registration-back;
    }
    
    &-banner-flexbox {
        min-height: 148px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &-heading {
        @include font(24px, 29px);
        color: $dark-pink;
        text-transform: uppercase;
    }
    
    &-main {
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }
    
    &__form {
        width: 360px;
        margin: 64px 129px 96px 0;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 40px 22px 96px 0;
        }

        @include mobile {
            margin: 40px 22px 40px 0;
            width: 100%;
        }

    }
    
    &__fieldset {
        border:none;
    }
    
    &__legend {
        @include font(16px, 19px, 300);
        color: $dark-blue;
        text-transform: capitalize;
        margin: 0 0 20px 0;
    }
    
    &__input-field {
        width: 360px;
        min-height: 44px;
        margin: 0 0 20px 0;
        border: 1px solid $border-input-fields;
        padding: 0 0 0 20px;
        box-sizing: border-box;

        @include tablet {
            box-sizing: border-box;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__input-field:hover {
        border: 1px solid $dark-pink;
    }

    :focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    &-gender-select-box {
        margin: 13px 0 30px 0;
        display: flex;
        align-items: center;
    }
    
    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        @include font(11px, 17px, 300);
        position: relative;
        margin: 0 0 0 20px;
        text-transform: capitalize;
        padding: 0 20px 0 10px;
    }
    
    &__radio-label::before {
        width: 17px;
        height: 17px;
        position: absolute;
        content: '';
        border: 1px solid $border-input-fields;
        border-radius: 50%;
        left: -20px;
    }

    &__radio-label:hover::before {
        border: 1px solid $dark-pink;
    }
    
    &__radio-input:checked+&__radio-label::before {
        background-image: url(../img/checked.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 10px 10px;
    }
    
    &__input-field_margin-bottom {
        margin-bottom: 15px;
    }
    
    &__form-text {
        @include font(13px, 16px, 300);
        color: $border-input-fields;
        margin: 0 0 39px 0;
    }
    
    &__button {
        background-image: url(..//img/arrow_reg_button.svg);
        background-repeat: no-repeat;
        background-position: 121px;
        height: 50px;
        width: 167px;
        border-radius: 0px;
        background-color: transparent;
        background-color: $dark-pink;
        border: 1px solid $dark-pink;
        color: $white;
        text-transform: uppercase;
        font-family: Lato;
        @include font(14px, 17px);
        padding: 0 40px 0 0;
        outline: none;
    }
    
    &__button:active {
        transform: scale(0.9);
    }
    
    &__benefits {

        @include desktop {
            margin: 64px 0 0 0;
        }

        @include tablet {
            margin: 40px 0 0 0;
        }

        @include mobile {
            margin: 0 0 100px 0
        }
    }
    
    &__benefits-heading,
    &__benefits-text,
    &__benefits-list-point {
        @include font(24px, 29px, 300);

        @include tablet {
            @include font(16px, 19px, 300);
        }

        @include mobile {
            @include font(16px, 19px, 300);
        }
    }
    
    &__benefits-heading {
        text-transform: uppercase;
        margin: 0 0 22px 0;
    }
    
    &__benefits-text {
        margin: 0 0 21px 0;
    }
    
    &__benefits-list-point {
        margin: 0 0 16px 40px;
        position: relative;
    }
    
    &__benefits-list-point::before {
        position: absolute;
        content: "";
        background-image: url(../img/checked.svg);
        width: 20px;
        height: 16px;
        left: -42px;
        top: 7px;
    }
}